.footer {
	& .container {
		padding: 0;
	}

	&__wrapper {
		padding: 9px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: $color-blue;
	}

	&__link {
		color: $color-white;
		font-size: 20px;
		line-height: 1;
		transition: opacity $transiton-300-out;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}
	}

	&__year {
		font-size: 20px;
		line-height: 1;
	}
}
