.help-block {
    position: absolute;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    flex-grow: 1;
    background: $color-blue;
    top: 90px;
    left: 1%;
    border: 3px dashed $color-white;
    border-radius: 20px;
    display: none;
    opacity: 0;
    transition: opacity $transition-300;
    z-index: 1000;

    &__paragraph {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        margin: 0;
    }
}
