.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px 0;
    align-items: start;
    min-height: 70vh;

    @include vp-767 {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
